<div class="container">
  <div class="row">
      <!-- Elementos generados a partir del JSON -->
      <main id="items" class="col-sm-8 row"></main>
      <!-- Carrito -->
      <aside class="col-sm-4">
          <h2>Comprá tu Abono</h2>
          <!-- Elementos del carrito  -->
          <ul id="carrito" class="list-group"></ul>
          <hr>
          <div>
            <button id="finalizarComprar" class="btn btn-success">Finalizar compra</button>
            </div>
      </aside>
  </div>
</div>
