<h1>Conocé nuestros Abonos </h1>
<div id="tAble">
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Abono</th>
        <th scope="col">Contenido</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Standard</td>
        <td>Acceso a toda la Cartelera, excluyendo los Estrenos.</td>
        <td>$2.000</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Premium</td>
        <td>Acceso a toda la Cartelera, incluyendo las novedades.</td>
        <td>$3.000</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Gold</td>
        <td>Total Acceso, incluyendo Estrenos y Novedades con anticipación. Sorteos mensuales. </td>
        <td>$4.000</td>
      </tr>
    </tbody>
  </table>
</div>
