<h1>Bienvenido al Video Club Willy´s Nightmare!</h1>
<div id=lOgeate>
  <h2>Ya sos miembro? Logeate y disfrutá! </h2>
<div class="mb-3 row">
  <label for="staticEmail" class="col-sm-2 col-form-label">Nombre de Usuario</label>
  <div class="col-sm-10">
    <input text="texto" class="form-control" id="inputText">
  </div>
</div>
<div class="mb-3 row">
  <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
  <div class="col-sm-10">
    <input type="password" class="form-control" id="inputPassword">
  </div>
</div>
</div>
<button id="lOg">Hacé click aquí</button>
<div id="dAtos">Bienvenido Estimado Miembro "Gold", a disfrutar el Show!</div>
