<h1>Próximos Estrenos</h1>

<div id="NovedadeS"></div>
<div class="container text-center">
  <div class="row ">
      <div class="col-mx-auto">
          <table class='table table-bordered'>
              <thead>
                  <tr class="bg-success text-white">
                      <th>Portada</th>
                      <th>Titulo</th>
                      <th>Año</th>
                      <th>Precio</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let e of estrenos; index as no">
                      <td><img src="{{e.portada}}" class="img-fluid" width="120"></td>
                      <td>{{e.name}}</td>
                      <td>{{e.id}}</td>
                      <td>{{e.price}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
