<div class=lOgeate>
  <h1>Si aún no sos miembro, registrate!</h1>
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Nombre de Usuario</label>
    <div class="col-sm-10">
      <input text="texto" class="form-control" id="inputText">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="text" class="col-sm-2 col-form-label">Correo Electrónico</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword">
    </div>
  </div>
  </div>
  <button class="lOg">Hacé click aquí</button>
  <div class="dAtos">Te registrate correctamente. Revisa tu mail y luego contrata el Abono a tu medida.</div>
